.blur {
  position: absolute;
  z-index: -10;
  border-radius: 50%;
  height: 32rem;
  width: 32rem;
  filter: blur(10rem);
}

.blur-left {
  position: absolute;
  top: -1rem;
  left: -35rem;
  background-color: #dbd7fb;
}
.blur-right {
  top: -5rem;
  right: 11rem;
  background-color: #fbe2e3;
}

@media (min-width: 640px) {
  .blur {
    width: 70rem;
  }
}
@media (min-width: 768px) {
  .blur-left {
    left: -33rem;
  }
}
@media (min-width: 1024px) {
  .blur-left {
    left: -28rem;
  }
}
@media (min-width: 1280px) {
  .blur-left {
    left: -15rem;
  }
}
@media (min-width: 1536px) {
  .blur-left {
    left: -5rem;
  }
}
